.sidebar {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.logo img {
  width: 20rem;
}

@media (max-width: 800px) {
  .sidebar {
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 25vh;
    padding-top: 5rem;
  }
}

@media (max-width: 600px) {
  .sidebar {
    padding: 0;
  }
}
